body {
  background-color: #f9f9fa !important;
  font-family: "Hind Siliguri", sans-serif !important;
  padding-top: 4.5rem;
}

.custom-margin {
  margin: 0em 140px;
}

@media only screen and (max-width: 900px) {
  .custom-margin {
    margin: 0em 10px;
  }
}

.slick-prev:before {
  display: none !important;
}
.slick-next:before {
  display: none !important;
}
